.advantages
    .container
        .advantages-section
            h2.advantages-title Built exclusively for you
            p.advantages-text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
            ul.advantages-list
                li.advantages-item 
                    span.item-icon
                    .item-description 
                        h3.item-title 1. Acquisition
                        p.item-words Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
                li.advantages-item 
                    span.item-icon
                    .item-description 
                        h3.item-title 2. Activation
                        p.item-words Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li.advantages-item 
                    span.item-icon
                    .item-description 
                        h3.item-title 3. Retention
                        p.item-words Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.