.contact 
    .container
        .contact-section
            img(src='../../assets/imgs/template/wave-1.png' width='129' height='129')
            p.pretitle contact us
            h2.contact-title Have an prject in mind?
            p.contact-text The right move at the right time saves your investment.<br/> live the dream of expanding your business.
            .contact-form-adress 
                .adress 
                    p.ownername Corporation
                    address 
                        p 4517 Washington Ave.<br/> Manchester, Kentucky 39495
                        a(href='tel:2395550108') (239) 555-0108
                        a(href='mailto:contact@company.com') contact@company.com
                form.form 
                    input.input-name(name='name' placeholder='Name')
                    input.input-email(name='email' placeholder='Email')
                    textarea(name="message", cols="30", rows="6" placeholder='Message')
                    button.btn.btn-black.icon-arrow-right-white(type='submit') Send Message 
                    .lastparagraf
                        span By clicking contact us button, you agree our terms and policy,