.hero
    .banner-hero.banner-1
        .container
            .hero-section
                .hero-text
                    p.hero-text-tagline We are <span>awesome team</span> for your business dream
                    p.hero-text-preface Integrated workflow designed for product teams. We create world-class development and branding
                    .hero-text-buttons
                        .block-signin
                            a.btn.btn-black.icon-arrow-right-white(href='page-signup.html') Get Started
                            a.btn.icon-arrow-right.btn-learn(href='') Learn More
